body {
  margin: 0;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: #f5f6fa;
}

.container {
  margin: 0 10px 10px 0;
  padding: 0 0 40px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.book-panel {
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: #fff;
}

.oval {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

input {
  flex-grow: 1;
  height: 2.5rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding-left: 10px;
}

select {
  width: 20rem;
  height: 2.8rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding-left: 10px;
}

.add-form {
  margin: 2.313rem 6.25rem 0;
}

.footer-menu li {
  list-style-type: none;
  border: 1px solid #e8e8e8;
  padding-left: 1.688rem;
  border-radius: 4px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

button {
  width: 11.5rem;
  height: 2.8rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  cursor: pointer;
  border: none;
}

.title-books {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}