body {
  margin: 0;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: #f5f6fa;
}

.container {
  margin: 0 10px 10px 0;
  padding: 0 0 40px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.book-panel {
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white-two);
  background-color: #fff;
}

.oval {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1;
}
